.li{
    color: black;
    font-size: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none; 
    padding-top: 10%;
    margin-left: 0%;
}
.phoneli{
    color: black;
    font-size: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none; 
    margin-top: 7rem;
}
.typeWriterText{
    color: black;
    font-size: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;   
}
.phonetypeWriterText{
    color: black;
    font-size: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;   
    margin-top: 2rem;
}
.button{
    color: white;
    display: inline-flex;
    height: 50px;
    width: 140px;
    border-radius: 10%;
    background-color: black;
    border: white solid;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    margin-top: 7rem;
}
.phoneButton{
        color: white;
        display: inline-flex;
        height: 50px;
        width: 100px;
        border-radius: 10%;
        background-color: black;
        border: white solid;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
        margin-top: 6rem;    
}